.box {
    background-color: chocolate;
    min-width: 50px;
    min-height: 50px;
}

.brick {
    background-color: black;
    min-width: 50px;
    min-height: 50px;
}

.empty {
    background-color: chartreuse;
    min-width: 50px;
    min-height: 50px;
}