

img {
    margin: 0px;
    position: absolute; left: 0; top: 0; z-index: 0;
}
#canvas_layer_1 {
    position: absolute; left: 0; top: 0; z-index: 1;
   
    
}

#canvas_layer_2 {
    
    position: absolute; left: 0; top: 0; z-index: 2;
}
