td{
    background-color: blueviolet;
    width: 100px;
    height: 100px;
}


.selected {
    background-color: hotpink;
}

.toggled {
   background-color: lawngreen;
}
.untoggled {
   background-color: white;
}

#row_0 {
    background-color: crimson;

}
#row_1 {
    background-color: darkblue;
}

#row_2 {
    background-color: darkmagenta;
}

#row_3 {
    background-color: dodgerblue;
}