

img {
    margin: 0px;
    position: absolute; left: 0; top: 0; z-index: 0;
}
#canvas_layer_1 {
    position: absolute; left: 0; top: 0; z-index: 1;
   
    
}

#playerStats {
    background-color: gray;
    position: absolute;
    width: 200px;
    height: 100px;
    bottom: 100px;
    right: 0px;
}
#menu {
    background-color: red;
    position: absolute;
    width: 200px;
    height: 400px;
    bottom: 100px;
    right: 0px;
}
#enemyStats {
    background-color: gray;
    position: absolute;
    width: 200px;
    height: 100px;
    top: 0px;
    left: 0px;
}

#textBar {
    background-color: blue;
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0px;
}
#canvas_layer_2 {
    
    position: absolute; left: 0; top: 0; z-index: 2;
}
